<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/header-tablet.css">
    <link rel="stylesheet" href="/styles/header-desktop.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/footer-tablet.css">
    <link rel="stylesheet" href="/styles/footer-desktop.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/home-tablet.css">
    <link rel="stylesheet" href="/styles/home-desktop.css"> 
</head>
<body>
    <header>
        <section id="header-top">
            <nav id="brand">
                <a href="/" rel="Home">
                    <img src="/assets/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
                </a>
            </nav>
            <form action="/" method="get" id="form-search">
                <fieldset>
                    <input type="text" id="search" name="search">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </fieldset>
            </form>
            <article>
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </article>
        </section>
        <section id="header-bottom">
            <nav>
                <a href="/">Ofertas</a>
                <a href="/">Tiendas Oficiales</a>
                <a href="/">Vender</a>
                <a href="/">Ayuda</a>
            </nav>
            <nav>
                <a href="/register">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a>
                <a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                <a href="/">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a>
            </nav>
            <nav id="burger">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </section>
    </header>
    <main>
        <section>
            <h2 class="titulares">Ofertas</h2>
            <article>
                <figure>
                    <img src="/assets/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                </figure>
                <section>
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <p class="descripciones">Cafetera Moulinex</p>
                </section>
            </article>
            <article>
                <figure>
                    <img src="/assets/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                </figure>
                <section>
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="descripciones">MacBook Pro 2019</p>
                </section>
            </article>
            <article>
                <figure>
                    <img src="/assets/img-samsung-galaxy-s10.jpg" alt="Samgung Galaxy S10">
                </figure>
                <section>
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </section>
            </article>
            <article>
                <figure>
                    <img src="/assets/img-tv-samsung-smart.jpg" alt="SmartTv Samsung">
                </figure>
                <section>
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <p class="descripciones">SmartTv Samsung 43"</p>
                </section>
            </article>
        </section>
        <section>
            <h2 class="titulares">Basados en tu visita</h2>
            <article>
                <figure>
                    <img src="/assets/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                </figure>
                <section>
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <p class="descripciones">Cafetera Moulinex</p>
                </section>
            </article>
            <article>
                <figure>
                    <img src="/assets/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
                </figure>
                <section>
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <p class="descripciones">MacBook Pro 2019</p>
                </section>
            </article>
            <article>
                <figure>
                    <img src="/assets/img-samsung-galaxy-s10.jpg" alt="Samgung Galaxy S10">
                </figure>
                <section>
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </section>
            </article>
            <article>
                <figure>
                    <img src="/assets/img-tv-samsung-smart.jpg" alt="SmartTv Samsung">
                </figure>
                <section>
                    <i class="fa-solid fa-truck"></i>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <p class="descripciones">SmartTv Samsung 43"</p>
                </section>
            </article>
        </section>
    </main>
    <footer>
        <article>
            <i class="fa-solid fa-star"></i>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, iure. Dolorum temporibus sed hic cumque provident obcaecati eligendi. Ipsum, alias.</p>
        </article>
        <article>
            <i class="fa-solid fa-star"></i>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, iure. Dolorum temporibus sed hic cumque provident obcaecati eligendi. Ipsum, alias.</p>
        </article>
        <article>
            <i class="fa-solid fa-star"></i>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, iure. Dolorum temporibus sed hic cumque provident obcaecati eligendi. Ipsum, alias.</p>
        </article>
    </footer>
</body>
</html>