<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/header-tablet.css">
    <link rel="stylesheet" href="/styles/header-desktop.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/footer-tablet.css">
    <link rel="stylesheet" href="/styles/footer-desktop.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/home-tablet.css">
    <link rel="stylesheet" href="/styles/home-desktop.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <section id="header-top">
            <nav id="brand">
                <a href="/" rel="Home">
                    <img src="/assets/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
                </a>
            </nav>
            <form action="/" method="get" id="form-search">
                <fieldset>
                    <div id="search">
                        <input type="text" id="search" name="search" placeholder="Buscar productos, marcas">
                    </div>
                    <button>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </fieldset>
            </form>
            <article>
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </article>
        </section>
        <section id="header-bottom">
            <ul type="none">
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
            <ul type="none">
                <li><a href="/register">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="/">Mis Compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
            <span id="burger">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </span>
        </section>
    </header>
    <main>
        <form action="/register" method="post">
            <fieldset>
                <label for="email">Email</label>
                <input type="email" id="email" name="email">
            </fieldset>
            <fieldset>
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password">
            </fieldset>
            <fieldset>
                <label for="password-confirm">Confirmar Contraseña</label>
                <input type="password-confirm" id="password-confirm" name="password-confirm">
            </fieldset>
            <fieldset>
                <button type="submit">Enviar</button>
            </fieldset>
        </form>
    </main>
    <footer>
        <article>
            <div class="icon">
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h3 class="titu">Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article>
            <div class="icon">
                <i class="fa-solid fa-gift"></i>
            </div>
            <h3 class="titu">Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article>
            <div class="icon">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <h3 class="titu">Seguridad, de principio a fin</h3>
            <p>¿No te gusta?¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article>
        <article class="copyright">
            <p>Copyright <i class="fa-regular fa-copyright"></i> 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>
</html>