footer{
    text-align: center;
    width: 100%;
    max-width: 100vw;
}
.copyright{
    color: #666;
    text-align: left;
}
.icon{
    font-size: 2em;
    margin-bottom: 10px;
    color:#1259c3;
}
.titu{
    color: #666;
    font-size: 1em;
}