*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: #f5f5f5;
}

img{
    max-width: 100%;
}

header{
    width: 100vw;
    background: #EAC926;
}
#header-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
#header-top #brand{
    flex: 0 0 calc(45% - 2rem);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#header-top #form-search{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 3rem;
    align-items: stretch;
    overflow: hidden;
}
#header-top article{
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#header-top #brand a{
    flex-grow: 1;
}
#header-top #form-search fieldset{
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
}
#header-top #form-search fieldset input{
    flex-grow: 1;
    padding: 0.25rem;
    border-radius: 0.25rem 0 0 0.25rem;
}
#header-top #form-search fieldset button{
    padding: 0.25rem;
    flex-basis: 3rem;
    background-color: #EAC926;
    border-radius: 0 25% 25% 0;
    padding: 0.25rem;
}
#header-bottom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#header-bottom nav{
    display: none;
}
#header-bottom nav a{
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
}
#burger{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}