
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #f5f5f5;
}
header{
    background: #EAC926;
}
#header-top #form-search fieldset{
    border: none;
    width: 19px;
    margin-left: 30px;
    margin-top: 5px;
    padding-left: 2px;
    border-radius: 5px;
    display: flex;
}
#search{
    color: #666;
    padding-right: 7%;
}
.delivery{
    color: green;
    border-radius: 50%;
    border: solid 1px green;
    background-color: white;
    font-size: 7px;
    padding: 2px 5px 5px 2px;
}
#burger{
    background-color: #1259c3;
    border-radius: 5px;
    color:white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
}
#brand img{
    height: 50px;

}
#banner{
    width: 100%;
}