@media screen and (min-width: 361px){
    .productos-ofertas, .productos-basados{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        flex-wrap: wrap;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}