@media screen and (min-width: 920px){
    #header-bottom{
        display: flex;
        justify-content: space-between;
    }
    #header-bottom nav{
        flex: 0 0 100%;
        justify-content: space-evenly;
        gap: 1rem;
        display: flex;
    }
    #burger{
        display: none;
    }
}